<div id="leaf_layout_header">
  <h2><%= val.title %></h2>
  <h3><%= val.subtitle %></h3>
  <h4><%= val.group2 %></h4>
  <% if val.group3 != '(none)' then %>
    <h4><%= val.group3 %></h4>
  <% end %>
</div>
