// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// common setting
//

$bg-color:#226688;
$f-color: white;
$bg-color-deep:#66f;
$bg-color-light:#88f;

$bg-color-y-deep:#ff6;
$bg-color-y-light:#ff8;

$bg-color-o-deep:#fa0;
$bg-color-o-light:#fa6;

$bg-color-g-deep:#0d0;
$bg-color-g-light:#8f8;

$f-size-large:20px;
$f-size:16px;
$f-size-small:12px;

#body {
	background-color: $bg-color;
	min-width: 800px;
}

#container {
	//border: solid 1px black;
	display: block;
	color: $f-color;
	font-size: $f-size;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 1.5;
	float: left;
	width: 100%;

	#header {
		//border: 1px solid black;
		display: block;
		width: 100%;
		float: left;

		h1 {
			margin: 20px;
			font-size: 2em;
			font-weight: bold;
			float: left;

			a, a:active, a:hover, a:visited {
				background-color: $bg-color;
				color: $f-color;
				text-decoration: none;
			}
		}

		#user-navigation {
			//border: 1px solid black;
			display: table;
			float: left;
			width: 100%;
			margin-bottom: 20px;

			div {
				//border: solid 1px white;
				display: table-cell;
				background-color: $bg-color-deep;
				border-left: solid 10px $bg-color;
				border-right: solid 10px $bg-color;
				text-align: center;
				vertical-align: middle;

				a, a:active, a:hover, a:visited {
					display: block;
					font-size: $f-size-large;
					font-weight: bold;
					color: $f-color;
					text-decoration: none;
				}

				a:hover {
					background-color: $bg-color-light;
				}
			}
		}
	}

	#wrapper {
		//border: 1px solid black;
		display: block;
		width: 95%;
		float: left;
		margin: 0px 30px;

		#flash {
			//border: 1px solid black;
			width: 100%;

			#notice, #alert {
				font-size: $f-size;
				font-family: sans-serif;
				background-color: white;
				padding: 5px 0px;
				text-align: center;
			}

			#notice {
				border: solid 1px $bg-color-g-deep;
				color: $bg-color-g-deep;
			}

			#alert {
				border: solid 1px $bg-color-o-deep;
				color: $bg-color-o-deep;
			}
		}

		#main {
			//border: 1px solid black;
			display: block;
			width: 100%;
			float: left;

			#title {
				width: 100%;
				border-bottom: solid 2px $f-color;
				margin: 0px;
			}

			#operations {
				//border: solid 1px white;
				display: table;
				width: 100%;
				margin: 10px 0px;

				#paginate {
					//border: solid 1px white;
					display: table-cell;

					a, a:active, a:hover, a:visited {
						color: $f-color;
					}
				}

				#search_operation {
					//border: solid 1px white;
					display: table-cell;

					form {
						display: block;
						float: right;

						#input_keyword {
							padding-left: 2px;
							padding-right: 0px;
						}
					}
				}

				#command_buttons {
					//border: solid 1px white;
					display: table-cell;
					float: right;

					form {
						display: block;
						float: left;
						margin-left: 10px;
					}
				}

				input, search_button {
					font-family: sans-serif;
					font-size: $f-size;
					padding: 2px 20px 2px 20px;
				}
			}

			table {
				//border: solid 1px white;
				display: table;
				width: 100%;

				thead, tbody, th, td, a, a:active, a:hover, a:visited {
					color: $f-color;
					font-family: sans-serif;
					font-size: $f-size;
					text-decoration: none;

					th {
						background-color: $bg-color-deep;
						font-weight: bold;

						a:hover {
							background-color: $bg-color-deep;
						}
					}

					td a:hover {
						background-color: $bg-color;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.form_layout {
				//border: solid 1px white;
				display: table;
				width: 100%;
				float: left;

				div {
					display: table-cell;
					width: 50%;
					float: left;
				}

				fieldset {
					//border: solid 1px white;
					border: none;
					padding: 0px 0px 0px 20px;
					margin: 0px;

					input, select, textarea {
						width: 80%;
						font-family: sans-serif;
						font-size: $f-size;
						padding: 2px 0px;
						margin: 0px 0px 10px 0px;
					}

					textarea {
						height: 10em;
					}

					img {
						margin-top: 10px;
					}

					.actions {
						width: initial;
						padding: 2px 10px 2px 10px;
						margin-top: 10px;
					}
				}
			}
		}
	}

	#footer {
		//border: 1px solid white;
		display: block;
		width: 100%;
		background-color: black;
		margin-top: 20px;
		float: left;

		p {
			margin: 10px 0px 10px 10px;
			font-family: sans-serif;
			font-size: $f-size;
		}
	}
}

