// Place all the styles related to the Leafs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// specific setting: leaf
//

$bg-color:#226688;
$f-color:#ffffff;
$bg-color-deep:#66f;
$bg-color-light:#88f;

$bg-color-y-deep:#ff6;
$bg-color-y-light:#ff8;

$bg-color-o-deep:#fa0;
$bg-color-o-light:#fa6;

$bg-color-g-deep:#0d0;
$bg-color-g-light:#8f8;

$f-size:16px;

#container {

	#wrapper {

		#main {

			.index_layout, .js-masonry { // .js-masonry reserved by masonry
				float: left;
				display: table;
				width: 100%;
				margin-top: 20px;

				.leaf, .index_layout_all, .index_layout_ctl {
					//border: 1px solid white;
					background-color: $bg-color-deep;
					//float: left; // commented for masonry
					width: 100px;
					height: 100px;
					display: table;
					text-align: center;
					margin: 2px;

					a, a:active, a:hover, a:visited {
						font-size: 14px;
						font-weight: bold;
						display: table-cell;
						vertical-align: middle;
						text-decoration: none;
						padding: 2px;
						color: $f-color;
					}

					a:hover {
						background-color: $bg-color-light;
					}

					p {
						font-weight: normal;
					}
				}

				.index_layout_all {
					background-color: $bg-color-o-deep;

					a:hover {
						background-color: $bg-color-o-light;
					}
				}

				.index_layout_ctl {
					background-color: $bg-color-g-deep;

					a:hover {
						background-color: $bg-color-g-light;
					}
				}
			}

			#leaf_layout {

				#leaf_layout_header {
					width: 100%;
					text-align: center;
					margin-bottom: 10px;

					h2, h3, h4 {
						font-family: sans-serif;
						margin: 0px;
					}
				}

				#leaf_layout_stamps {
					width: 100%;
					float: left;

					.stamp {
						//border: 1px solid white;
						//float: left; // commented for masonry
						width: 100px;
						height: 150px;
						text-align: center;
						//margin: 2px 10px; // commented for masonry
                        margin-bottom: 5px; // used for masonry
						img, p {
							float: none;
							margin: 0px;
						}

						p {
							font-size: 14px;
							font-family: sans-serif;
							line-height: normal;
						}

					}
				}

				#leaf_layout_footer {
					float: left;
					width: 100%;
					text-align: center;
					margin-top: 20px;

					textarea {
						width: 95%;
                        height: 10em;
						resize: none;
					}
				}
			}
		}
	}
}
