
<div class="command_buttons">
  <% case val %>
  <% when 'index' then %>
    <%= button_to t('author.index.register'), {:action => 'new'}, :method => :get %>
  <% when 'new' then %>
    <%= button_to t('author.common.back'), {:action => 'index'}, :method => :get %>
  <% when 'edit' then %>
    <%= button_to t('author.common.back'), {:action => 'index'}, :method => :get %>
  <% else %>
    <%= button_to t('author.common.back'), {:action => 'index'}, :method => :get %>
  <% end %>
</div>

